/********************** GENERAL STYLES ************************/
.spacingIMED {margin-top:7px;}
.spacingResidency {margin-top:8px;} 
a {cursor:pointer;}
/************** HEADER GRID ****************/

/************* BUTTON STYLE ************/
div.marginleftNews {margin-left:6px;}

/******************* ROTATOR STYLES ********************/
div#features div {margin-bottom:0px;}

/******************* div 660 ********************/
div.grid_980 div.grid_660 div.div_660 {margin:0 13px 0 15px;}
div.grid_980 div.grid_960 div.grid_310 div.center_310_home div.button-initiatives p {margin-top:80px;}

/************ RIGHT COLUMN 2ND & 3RD LEVEL PAGES ************/
div.grid_980 div.grid_300 {float:right;}

/************** HEADER GRID ****************/
div.grid_183 {margin:33px 4px 8px 5px;}

/************* BUTTON STYLE ************/
div.marginleftNews {margin-left:6px;}

/************** HEADER GRID ****************/
div.grid_183 {margin-top:3px; margin-right:5px; margin-bottom:8px; margin-left:4px;}

/************** ABOUT ECFMG TOOLTIP ***********************/
div.ttAbout div.tooltipmenu div.thirty-three a div.aboutoverview {cursor:pointer;}
div.ttAbout div.tooltipmenu div.thirty-three a div.svmpecfmg {height:35px; cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.svmpecfmg h5.svmp {margin:0 0 auto 20px;}
div.ttAbout div.tooltipmenu div.thirty-three a div.aboutannualreport {height:35px; cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.organizational {cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.trustees {height:35px; cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.seniorstaff {height:35px; cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.initiatives {cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.history {height:35px; cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.careers {height:35px; cursor:pointer;}

/*********************** PROGRAMS TOOLTIP STYLES *************************/  
div.ttPrograms div.tooltipmenu {padding:27px 0 0 15px; width:770px; height:313px;}/* was 235 */
div.ttPrograms div.tooltipmenu a div.programsoverview {display:block; width:150px; height:25px; float:right; margin:0 10px 0 0;}
div.ttPrograms div.tooltipmenu div.fifty-fifty {width:375px; float:left; height:280px; margin:0;} /* was 202 */
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.certification {width:375px; height:68px;}
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.cvs {width:375px; height:70px;}
div.ttprograms div.tooltipmenu div.fifty-fifty a div.eras {width:375px; height:77px;}
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.j1 {width:375px; height:64px;}
div.ttprograms div.tooltipmenu div.fifty-fifty a div.eics {width:374px; height:68px;}
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.echo {width:374px; height:70px;}
div.ttprograms div.tooltipmenu div.fifty-fifty a div.usmle {width:374px; height:77px; cursor:pointer;}

/************* ONLINESERVICES TOOLTIP STYLES ************/
div.ttOnlineservices div.tooltipmenu {width:770px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty {width:375px; float:left; height:328px; margin:0;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.iwa {width:375px; height:90px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.oasis {width:375px; height:104px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.step2cs {width:375px; height:42px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.cvsonlineL {width:375px; height:40px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.ian {width:375px; height:70px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.emswp {width:374px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.cvsonline {width:374px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.evn {width:374px; height:60px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.imed {width:374px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.employment {width:374px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.overview {width:374px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty div.h4holder {width:374px;}

/************* NEWS TOOLTIP STYLES ************/
div.ttNews div.tooltipmenu {padding:37px 10px 10px 15px;}

/************* RESOURCES TOOLTIP STYLES **************/
div.ttResources div.tooltipmenu {width:775px;}
div.ttResources div.tooltipmenu div.thirtythree a div.six {text-decoration:none;}
div.ttResources div.tooltipmenu div.thirtythree a div.six h5.header {margin:2px 0 0 25px;}
div.ttResources div.tooltipmenu div.thirtythree a div.behavior {height:48px; text-decoration:none;}
div.ttResources div.tooltipmenu div.thirtythree a div.behavior h5.header {margin:5px 0 0 25px;}
div.ttResources div.tooltipmenu div.annualreport {height:167px;}
div.ttResources div.tooltipmenu div.data {width:300px; float:left; height:160px; margin:0;}
div.ttResources div.tooltipmenu div.data a div.imagelink {height:168px; width:310px; text-decoration:none;}
div.ttResources div.tooltipmenu a.roverview {float:right; margin:-6px 0 0 0; padding:0 10px 0 0;}